body {
    background-color: black;
    
    color: aquamarine;
    
    font-family: Georgia, 'Times New Roman', Times, serif;

}
img { max-width: 40%; 
    max-height: 300px;
}

a {
    color: chartreuse;
}
